site_name: Typing Tips
site_url: https://decorator-factory.github.io/typing-tips/
repo_url: https://github.com/decorator-factory/typing-tips

nav:
  - "About": index.md
  - "The tutorial":
    - "0. Introduction": tutorial/0-start-here/index.md
    - "1. Working with classes": tutorial/1-working-with-classes/index.md
    - "2. Using Protocols": tutorial/2-using-protocols/index.md
    - "3. Generic functions": tutorial/3-generic-functions/index.md
  - "The tutorial (draft)":
    - "4. Assignability and variance": tutorial/4-assignability/index.md
  - "Miscellaneous articles":
    - "`object` is not the same as `Any`": one-offs/object-vs-any/index.md
    - "avoid `Any`": one-offs/avoid-any/index.md

theme:
  name: material
  icon:
    logo: material/language-python
  font: false
  palette:
    primary: blue grey
    accent: cyan
  favicon: images/favicon.png

markdown_extensions:
  - attr_list
  - tables
  - md_in_html
  - admonition
  - pymdownx.details

  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

  - footnotes

plugins:
  - privacy:
      enabled: true
  - search
  - typeset
